/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Astera-org/rejuv-parse-splitseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 64
    max_memory = '64.GB'
    max_time   = '24.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = 'https://github.com/Astera-org/rejuv-parse-splitseq/test/test_samplesheet_small.csv'

    //fasta  = '/home/tobias/rejuvenome/git/parseseq/test_parse/chr1_2_19.fa'
    //gtf    = '/home/tobias/rejuvenome/git/parseseq/test_parse/gencode.vM25.chr19.gtf'
    genome = 'mm10'
    genome_name = 'mm10'
}
